* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-image: url(./images/bg-mobile.svg);
  background-repeat: no-repeat;
  background-color: rgba(104, 75, 177, 1);
  font-family: "Poppins";
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 39px;
  flex-direction: column;
}

.logo {
  width: 120px;
  height: 59px;
  color: white;
  margin-left: 47px;
  margin-bottom: 0;
  margin-top: 40px;
}

.main-img {
  /* gacentrvis  metodebis shercheva!!! */
  max-width: 280px;
  /* margin: 0 auto; */
}
.image {
  max-width: 100%;
}
.text-container {
  margin-top: 50px;
  display: flex;
  text-align: center;
  flex-direction: column;
  gap: 25px;
}
.text-container h1 {
  font-size: 24px;
  color: white;
  font-weight: 600;
}
.text-container p {
  font-family: Open Sans;
  font-size: 16px;
  color: white;
}

.text-container button {
  width: 200px;
  height: 40px;
  background-color: white;
  color: #684bb1;
  border-radius: 20px;
  border: none;
  margin: 0px auto;
  /* gacentrva!! */
}
.circles {
  display: flex;
  gap: 20px;
  justify-content: center;
  margin-top: 40px;
  margin-bottom: 10px;
}
.circle {
  width: 30px;
  height: 30px;
  border: 1px solid white;
  border-radius: 50%;
}
.fa-brands {
  color: white;
  width: 27px;
  height: 22px;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  body {
    background-image: url(./images/bg-desktop.svg);
    background-size: contain;
  }

  .container {
    margin: 100px 0 0 80px;
    flex-direction: row;
  }

  .logo {
    width: 200px;
    height: 59px;
    color: white;
    margin-top: 64px;
    margin-left: 80px;
  }

  .main-img {
    max-width: 658px;
  }

  .text-container {
    max-width: 520px;
    margin: 0 50px;
    text-align: start;
  }

  .text-container h1 {
    font-size: 40px;
    line-height: 60px;
  }
  .text-container p {
    font-family: Open Sans;
    font-size: 18px;
    line-height: 27px;
  }

  .text-container button {
    height: 56px;
    color: #684bb1;
    margin: 0;
  }
  .circles {
    justify-content: flex-end;
    margin: 40px 60px 30px 0;
  }
  .text-container button:hover {
    cursor: pointer;
    background-color: #e880e8;
  }
  .fa-brands:hover {
    color: #ff52c1;
  }
}
